* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.first-header {
    background-color: #017fff;
    padding: 15px 0px;
}

.second-header {
    background-color: #3f3f3f;
}

.first-header .MuiContainer-maxWidthLg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-in {
    border: none;
    background: transparent;
    color: white;
}

.start {
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 25px;
}

.title {
    color: white;
    font-size: 18px;
}

.popular-titles {
    color: white;
    font-size: 25px;
}

.second-header {
    padding: 10px 0px;
}

.footer {
    background-color: #1e1e1e;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-nav-menu {
    max-width: 870px;
    width: 100%;
    grid-gap: 5px;
}

.footer-nav-menu .css-1p823my-MuiListItem-root {
    padding: 0 !important;
    font-size: 14px;
}

.footer-nav-menu a {
    color: #9eafa6;
    text-decoration: none;

}

.lists {
    display: flex;
    justify-content: space-between;
}

.movies,
.series {
    width: 180px;
    height: 250px;
    background-image: url('./Assets/clapperboard.png');
    background-size: 100% 100%;
    background-color: rgba(30, 30, 30, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
}


.nav-mov {
    display: flex !important;
    grid-gap: 15px;
}

.content {
    margin-top: 50px;
}

.content .MuiContainer-root {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    align-items: flex-end;
}

.static-bottom {
    position: static !important;
    margin-top: 80px;

}

.icons-box .win {
    width: 135px;
    height: 40px;
}


.footer-box-icons {
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    grid-gap: 15px;
}

.social-icons .MuiSvgIcon-fontSizeMedium {
    fill: white;
    font-size: 30px;
}

.demo-text-footer {
    color: #9eafa6;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}